services:
  mongo:
    image: mongo:7.0
    container_name: mongo_db
    ports:
      - "27017:27017"
    # volumes:
    #   - mongo_data:/data/db
  auth_service:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: auth_service
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
      - MONGODB_URL=mongodb://mongo:27017
    depends_on:
      - mongo
